<% layout('layout') -%>

<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<h1> User: <%= user.username %> </h1>

<div class="row">
<div class="span3"> <b> Articles Read: </b> </div>
</div>

<ol>
<% for(var i = 0; i < user.articlesRead.length; i++) { %>
  <li> <%= user.articlesRead[i] %> </li>
<% } %>
</ol>

<form name="<%=user.username + "UPDATE" %>" action="http://ec2-54-235-227-153.compute-1.amazonaws.com:5000/keywordResponse" method="post">
<input type="hidden" name="username" value="<%= user.username %>" />
<div class="row">
<div class="span2"> <b> Article: </b> </div>
<div class="span2"> <button type="submit" class="btn btn-primary"> UPDATE </button></div>  
<div class="span2 offset4"> <b><u>KEYWORDS</u></b> </div>
<div class="span2"><b><u>RELEVENCE</u></b> </div>
</div>

<% for(var key1 in user.keywords) { %>
<div class="row">
<div class="span1 offset7"> <input type="checkbox" name="KEYWORD" value="<%= key1 %>" checked> </div>
<div class="span2"> <%= key1 %> </div>
<div class="span2"> <%= user.keywords[key1] %> </div>
</div>
<% } %>
</form>

<form name="<%= user.username + "ADD" %>" action="http://ec2-54-235-227-153.compute-1.amazonaws.com:5000/articleRead" method="post">
<input type="hidden" name="userid" value="<%= user.username %>" />
<div class="row">
<div class="span1"> Article Read: </div>
<div class="span2"> <input type="text" name="articleid"> </div>
</div>
<div class="row">
<div class="span">
<button type="submit" class="btn btn-primary">Add Article</button>
</div>
</div>
</form>

