<% layout('layout') -%>

<style>

#header
{
height: 150px;
width: 70%;
clear: both;
;
left: 0px;
top: 0px;	
position: absolute;

}

#header img
{
	height: 150px;
}

#header h2
{
position: absolute;
text-align: center;
top: 0px;	
left: 40%;
font-size: 30px;
}
#article_list_div
{
height: 90%;
width: 50%;
position: absolute;
top: 150px;
left: 1%;
border   
}

#article_list_div ul{
height: 90%;
overflow: auto;
}

#sidebar{
height: 100%;
width: 20%;
right: 10px;
top: 10px;
position: absolute;
}

#sidebar div
{
height: 30%	
}

.wrap
{
    width: 30%;
    height: 900px;
    padding: 0;
    overflow: hidden;
    left: 50%;
position: absolute;

}

.frame
{
    width: 1280px;
    height: 786px;
    border: 0;
    -ms-zoom: 0.25;
    -transform: scale(0.25);
    -moz-transform: scale(0.0);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.50);
    -webkit-transform-origin: 0 0;
}


</style>

<script src="/javascripts/highcharts.js"></script>
<div id="header">
     <img src="/images/tag_team_logo_4.gif" alt="logo"/>
     <h2><%= username %>'s Dashboard</h2>
</div>
<div id="article_list_div">
<ul data-role="listview" data-filter="true" class="ui-listview">
<% for(var i=0; i<articles.length; i++){%>
<li>
  <a href="#" data-icon="arrow-r" data-iconpos="right" selected="true" onclick="showGraphsFor('<%= articles[i].id %>','<%= articles[i].biline %>' ,'<%=articles[i].api_key %>', '<%= articles[i].URL %>')">
    <h3> <%= articles[i].headline %></h3>
    <p> <%= articles[i].biline %></p>
    <p> Readers: <%= articles[i].readers.length %> </p>
  </a>
</li>
<% } %>
</ul>
</div>

<!--
<div class="wrap" id="article_frame_div">
  <iframe class="frame" id="article_frame"></iframe>
</div>
-->

<div id="sidebar">
   <div id="article_keywords"></div><br/>
   <div id="reader_keywords"></div><br/>
   <div id="author_keywords"></div><br/>
</div>

<script>

function showGraphsFor(id, biline, api_key, url)
{
//$("#article_frame").attr("src", url);
$("#article_frame").attr("src", "http://www.sacbee.com");
getKeywords(id, 5, api_key, biline);
//readerInterests(id, api_key);
//authorKeywords(id, biline, api_key);
}

function getKeywords(id, num, api_key, biline)
{
    var data = new Array();
    var labels  = new Array();
    var series = new Array();
    data.push(labels);
    data.push(series);
    $.get("/getTopKeywords",
	  {
	      article: id,
	      numResponses: num,
	      apikey: api_key
	  }).done(function(response){
	      var res = JSON.parse(response);

	      for(var word=0; word<res.length; word++)
	      {
		  data[0].push(res[word].text);
		  data[1].push(parseFloat(res[word].rel));
	      }
	      createBarChart("article_keywords", data, 'article_keywords', 'Article Keywords');
	      readerInterests(id, 5, api_key, biline); 
	  });    
}

function readerInterests(id, num, api_key, biline)
{
    var data = new Array();
    var labels  = new Array();
    var series = new Array();
    data.push(labels);
    data.push(series);
    $.get("/getArticleReaderInterests",
	  {
	      article: id,
	      numResponses: num,
	      apikey: api_key
	  }).done(function(response){
	      var res = JSON.parse(response);
	      var limit = res.length;
	      if(limit>25)
		  limit = 25;
	      for(var word=0; word<limit; word++)
	      {
		  data[0].push(res[word].text);
		  data[1].push(parseFloat(res[word].rel));
	      }
	      createBarChart("reader_keywords", data, 'user_shared_interests', 'Shared Reader Interests');
authorKeywords(id, biline, 5, api_key);		 
	  });
}

function authorKeywords(article_id, biline, num, api_key)
{
    var data = new Array();
    var labels  = new Array();
    var series = new Array();
    data.push(labels);
    data.push(series);
    $.get("/getAuthorKeywords",
	  {
	      author: biline,
	      numResponses: num,
	      apikey: api_key
	  }).done(function(response){
	      var res = JSON.parse(response);
	      var limit = res.length;
	      if(res.length >= 25)
		  limit = 25;
	      for(var word=0; word<limit; word++)
	      {
		  data[0].push(res[word].text);
		  data[1].push(parseFloat(res[word].rel));
	      }
	      createBarChart("author_keywords", data, 'author_keywords', 'Author Keywords');
	  });    
}

function createBarChart(id, chartData, chartName, chartTitle)
{
    $("#" + id).highcharts({
	chart: {
	    type: "bar"
	},

	title: {
	    text: chartTitle
	},
	xAxis: {
	    categories: chartData[0],
	    title: { text: null }
	},
	yAxis: {
	    min: 0,
	    title: {
		text: "relevance",
		align: "high"
	    },
	    labels: {
		overflow: "justify"
	    }
	},
	tooltip: {
	    valueSuffix: ""
	},
	plotOptions: {
	    bar: {
		dataLabels: {
		    enabled: true
		}
	    }
	},
	series: [{
	    name: "relevance",
	    data: chartData[1]
	}]
    });
}

</script>
