<% layout('layout') -%>

<h1>Reccomendations:</h1>

<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<% for(var key1 in keyMap) { %>
<form name="<%= key1 %>" action="http://ec2-54-235-227-153.compute-1.amazonaws.com:5000/keywordResponse" method="post">
<div class="row">
<div class="span3"> <b> <%= "Article: " + key1  %> </b> </div>
<div class="span2 offset5"> <b><u>KEYWORDS</u></b> </div>
<div class="span2"><b><u>RELEVENCE</u></b> </div> 
</div>
<% var curMap = keyMap[key1]; %>
<% for(var key2 in curMap) { %>
  <div class="row">
  <div class="span1 offset7"> <input type="checkbox" name="<%= key1 %>" value="<%= key2 %>" checked> </div>
  <div class="span2"> <%= key2 %> </div>
  <div class="span2"> <%= curMap[key2] %> </div>
  </div> 
<% } %>
  <div class="row">
  <div class="span2">
  <button type="submit" class="btn btn-primary">Update</button>
  </div>
  </div>
</form>
<% } %>
